---
firmware:
  # URL of the factory images with ending slash
  url: http://downloads.your-community.freifunk.net/firmware/stable/factory/

  # prefix of the images (usually gluon-$site-$version)
  prefix: "gluon-ffxy-2015.1.2"

# authorized_keys: /path/to/id_rsa.pub
# contact: default@example.com
